<div class="row mainview">
<div class="col-4 table-hover" >
    <button matRipple matRippleColor="rgba(0,0,0,.2) " matRippleCentered="centered" nz-button nzType="default" (click)="loadTwo()" [nzLoading]="isLoadingTwo">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
              اضافة قسم
      </button>
<div class="topics"  
*ngFor="let menucats of MenuCat; let i = index"

[class.hovercolor]="menucats.hover" 
(mouseover)="menucats.hover = true"
(mouseout)="menucats.hover = false" 
[class.active]="menucats.active" 
 (click)="chooseCategory(i)"

 >
     <div class="col-md-10 topicstext">
          {{menucats.name}}</div>
    <nz-avatar  nzIcon="edit" nzSize="small" style="vertical-align: left;"></nz-avatar>

</div>


</div>
<div class="col-8" >
    <button  matRipple matRippleColor="rgba(0,0,0,.2) " matRippleCentered="centered" nz-button nzType="default" (click)="SwitchToAddTopic()" [nzLoading]="isLoadingTwo">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
      اضافة طبق
      </button>

    <div class="my-orders"  *ngFor="let menuitem of MenuItem; let i = index"
    >
        <div class="order-box"  (click)="getOrder(i)">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <img 
                        src="{{URL}}/{{menuitem.photo}}" 
                        alt="order-img" 
                        class="img-thumbnail img-fluid">
                </div>
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                    <ul class="order-details-list list-unstyled">
                        <li class="order-name">
                            <strong>
                              {{menuitem.name}} ({{menuitem.name_en}})
                            </strong>
                        </li>
                        <li class="descitem">
                            {{menuitem.descriptions}}

                        </li>
                        <div *ngIf="menuitem.price  > 0;then content else other_content">here is ignored</div>    
                        <ng-template #content>{{menuitem.price}} جنيه</ng-template>
                        <ng-template #other_content>السعر حسب الاختيار</ng-template>
                       
                        <li  *ngFor="let size of menuitem.menu_options_topics">

                            <b   
                            style="margin-left: 5px;">{{size.name}}:</b>
                            <label 
                                class="label label-warning" 
                                *ngFor="let options of size.menu_options"
                                style="margin-left: 5px;">{{options.name}}</label>
                            <!--<span *ngIf="order.confirm == 1">
                                <button class="btn float-left" matRipple>
                                    <i nz-icon nzType="reload" nzTheme="outline"></i>
                                    اطلب مرة اخرى
                                </button>
                            </span>
                            <span *ngIf="orders[i].typeorder == 2">
                                <button class="btn float-left" (click)="editLocation($event, i)" matRipple>
                                    <i nz-icon nzType="environment" nzTheme="outline"></i>
                                    تحديث العنوان
                                </button>
                            </span>     -->                   
                        </li>
                    </ul>
                    <nz-avatar  nzIcon="edit" nzSize="small" style="float: left"></nz-avatar>
                    <nz-avatar  nzIcon="delete" nzSize="small" style="float: left;   right: -6px;"></nz-avatar>

                </div>

            </div>
        </div>   
    </div>


</div>


</div>

<app-add-category-modal [Show]="showaddcat" ></app-add-category-modal>