<div class="row bigrow">
    <div class="col-md-12" 
    >
        
            <div class="row"  *ngFor="let time of this.times;let i = index" >
                <div class="col-md-2">
                    {{time.day}}
                </div>  
                <div *ngIf="time.isActive  == 0;then content else other_content">here is ignored</div>    
                <ng-template  #content>
                    <div class="col-md-8   justify-content-md-center">
                    <div style="text-align: center;" >مغلق <i class="fa fa-lock"></i></div>
                </div>
                    </ng-template>
                <ng-template #other_content>
                <div class="col-md-4">
                    وقت الفتح
                    <div class="form-group">
                        <input 
                            type="time" 
                            class="form-control"
                            placeholder="وقت الفتح"
                            required
                            [(ngModel)]="time.open_time" 
                           >              
                    </div>
                </div> 
                <div class="col-md-4">
                    وقت الاغلاق
                    <div class="form-group">
                        <input 
                            type="time" 
                            class="form-control"
                            placeholder="وقت الاغلاق"
                            required
                            [(ngModel)]="time.close_time" 
                           >              
                    </div>
                </div> 
              </ng-template>
                <nz-switch   [(ngModel)]="time.isActive" ></nz-switch>
<div *ngIf="i  == 0" style="margin-right: 10px;"   (click)="copy(i)">نسخ</div>

</div>
<div class="col-md-12">
    <div class="form-group mb-3">
        <button 
            class="btn btn-block btn-lg btn-info" 
            (click)="add()">
            <i nz-icon nzType="loading"   *ngIf="loading" nzTheme="outline" ></i>
            اضافة
        </button>                           
                            
    </div>                
</div>
</div>
</div>
