.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}

h6 {
    padding: 0 10px;
    font-size: 21px;
    color: black;
}

.left {
    height: 35px;
    padding-inline: 15px 5px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    text-align: start;
    border-radius: 4px;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    
}
.product-box{
    background-color: #f8f9fa!important;
    border-radius: 5px;
    margin-top: 20px;   
    padding: 20px;
    transition: all .3s ease-out;
}

.product-box:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.product-box ul li:first-of-type{
    color: #617b47;
}

.product-box ul li{
    color: #23527c;
    font-size: 13px;
    font-weight: 600;
}
.label {
    font-size: 18px;
}