.mainview ,.optionContainer{

    background: #edf0f7!important;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;

} 
.mainfram {
    padding: 0!important;

}
.titel p  {

    padding: 9px;
    font-size: 18px;
}
.titel   {
    padding: 0!important;
    border-bottom: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
}
.addOption {
    border: 1px dashed rgb(175, 175, 175);;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

background: #fffefe
    ;
}
.row {
    margin: 9px 0px 10px 0px;
}
.addnewtopic {
    top: 14px;
    float: left;
}