<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center; direction: rtl;">
    <div class="auth-box">
        <div id="loginform" [ngClass]="{'d-none': recoverform}">
            <div class="logo">
                <span class="db">
                    <img src="assets/images/logo.png" width="37px" alt="logo" />
                </span>
                <h5 class="font-medium m-b-20">تسجيل الدخول</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" #f="ngForm" id="loginform">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input 
                                type="text" 
                                class="form-control form-control-lg" 
                                placeholder="اسم المستخدم" 
                                aria-label="Username" 
                                id="username" 
                                name="username" 
                                ngModel 
                                required 
                                #username="ngModel"
                                aria-describedby="basic-addon1">
                                <small 
                                    class="form-text text-danger" 
                                    *ngIf="!username.valid && (username.dirty || username.touched)">
                                بالرجاء كتابة اسم المستخدم!
                                </small>                                
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input 
                                type="password" 
                                class="form-control form-control-lg"
                                placeholder="كلمة المرور" 
                                aria-label="Password"
                                id="password" 
                                name="password" 
                                ngModel 
                                required 
                                #password="ngModel"                                 
                                aria-describedby="basic-addon1">
                                <small 
                                    class="form-text text-danger" 
                                    *ngIf="!password.valid && (password.dirty || password.touched)">
                                بالرجاء كتابة كلمة المرور!
                                </small>                                 
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" type="submit" (click)="login(f)">
                                    تسجيل الدخول
                                    <i nz-icon nzType="loading" nzTheme="outline" *ngIf="loader"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12">
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email" required="" placeholder="Username">
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>