<div class="row mainview" >
<div class="col-12">
<mat-tab-group    dynamicHeight [disableRipple]="true"  [(selectedIndex)]="selectedTabIndex" [color]="'primary'">
    <mat-tab label="المعلومات" style="color:black" >

      <app-add></app-add>
    </mat-tab> 
    <mat-tab disabled  label="الخيارات" style="color: black" >
      <div class="example-large-box mat-elevation-z4 " >
        <app-add-options [ItemId]="ItemId"></app-add-options>

      </div>
    </mat-tab>
  </mat-tab-group>

  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group mb-3">
            <button 
                class="btn btn-block btn-lg btn-info" 
                (click)="save()">
                <i nz-icon nzType="loading"  *ngIf="loading" nzTheme="outline" ></i>
                اضافة
            </button>                           
                                
        </div>                
    </div>
</div>
