<div class="row bigrow">
    <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control"
                            placeholder="اسم المدينة ..."
                            [(ngModel)]="this.CitiesObject.name" 
                            required
                            >              
                    </div>
                </div>  
                <div class="col-md-6">
                    <div class="form-group">
                        <input 
                            type="text" 
                            class="form-control"
                            placeholder="اسم  المدينة ... انجليزي"
                            required
                            [(ngModel)]="this.CitiesObject.name_en" 
                           >              
                    </div>
                </div>  
                <div class="col-md-6">
                    <div class="form-group">
                        <input 
                            type="file" 
                            class="form-control"
                            placeholder="صورة للمدينة"
                            (change)="Chooseimage($event)"                    
                                    >              
                    </div>
                </div>  


</div>
<div class="row townsclass">
    <div (click)="addtowns()" class="col-md-6 addtowns">اضف المناطق داخل المدينة</div>
    </div>
    <div class="row townsinputs">
    <div  *ngFor="let allData of townsArray; let i = index"  class="col-md-6">

        
            <input 
            class="form-control"
            placeholder=" اسم المنطقة"
            [(ngModel)]="townsArray[i].name"
            required
                    >    
            
                    <input 
                    class="form-control"
                    [(ngModel)]="townsArray[i].name_en"
                    placeholder="اسم المنطقة انجليزي"
                    required
                         >    
                  
                        </div>
            </div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <button 
                            class="btn btn-block btn-lg btn-info" 
                            [disabled]="this.CitiesObject.name === undefined"
                            (click)="add()">
                            <i nz-icon nzType="loading"   *ngIf="loading" nzTheme="outline" ></i>
                            اضافة
                        </button>                           
                                            
                    </div>                
                </div>
            </div>
    </div>
