<div class="row">
    <div class="col-md-12">
            <div class="row">

<input      [(ngModel)]="this.CitiesObject.name"/>

<input      [(ngModel)]="this.CitiesObject.name_en"
/>
                 <div    *ngFor="let allData of townsArray; let i = index" >

<input      [(ngModel)]="townsArray[i].name"/>

<input      [(ngModel)]="townsArray[i].name_en"
/>
</div>
<div (click)="addtowns()">اضافة منطقة</div>
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <button 
                            class="btn btn-block btn-lg btn-info" 
                            
                            (click)="add()">
                            <i nz-icon nzType="loading" nzTheme="outline" ></i>
                            اضافة
                        </button>                           
                        <button 
                            class="btn btn-block btn-lg btn-success" 
                            matRipple
                            [disabled]="!form.valid"
                            *ngIf="isUpdate"
                            (click)="update()">
                            <i nz-icon nzType="loading" nzTheme="outline" *ngIf="isAdd"></i>
                            تحديث
                        </button>                           
                    </div>                
                </div>
            </div>
    </div>
</div>
